*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background:hsl(210, 60%, 98%);
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding:20px;
    cursor:pointer;
}
main{
    display:flex;
    flex-direction: column;
    background:white;
    padding:20px 40px;
    border-radius:10px;
}
.container1{
    display:flex;
    margin-bottom:20px;
    align-items: center;
    justify-content: space-between;
}
.container2{
    display:flex;
    flex-direction: column;
}
.mark2, .angela2, .jacob2, .rizky2, .kimberly2, .nathan2, .anna2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.mark, .angela, .jacob, .rizky, .kimberly, .nathan, .anna{
   width:500px;
   margin-bottom:5px;
   padding:10px;
   display:flex;
}
.time{
    margin-top:5px;
    color:hsl(219, 14%, 63%);
}
img{
    width:40px;
    height:40px;
    margin-right:10px;
}
h1{
    font-size:22px;
    color:hsl(224, 21%, 14%);
}
p{
    color: hsl(219, 12%, 42%);
    font-size:13px;
    font-weight: 500;
}
.name{
    font-weight:700;
    color:hsl(224, 21%, 14%);
}
.chessC{
    color:hsl(219, 85%, 26%);
    font-weight: 700;
}
span{
    color:hsl(215, 22%, 39%);
    font-weight: 700;
}
.msg{
    border:1px solid hsl(205, 33%, 90%);
    padding:10px 13px;
    width:430px;
    border-radius:5px;
    margin-top:5px;
}
.mark, .angela, .jacob{
    background:hsl(210, 60%, 98%);
    border-radius:5px;
}
.chessImg{
    margin-left:120px;
}
.number{
    width:30px;
    height:25px;
    background: hsl(219, 85%, 26%);
    color:rgb(248, 247, 247);
    border-radius:5px;
    margin-right:220px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size:14px;
}
.dot1, .dot2, .dot3{
    height:6px;
    width:6px;
    border-radius:50%;
    background: hsl(1, 90%, 64%);
    display:flex;
    margin-top:8px;
    margin-left:10px;
}
.name:hover, span:hover, .readBtn:hover{
    color:hsl(219, 85%, 26%);
    font-weight:700;
}
.msg:hover{
    background:hsl(205, 33%, 90%);
}
@media(max-width:500px){
    main{
        padding:0;
        padding-left:25px;
        position: relative;
    }
    .container1, .container2{
        width:375px;
    }
    .mark, .angela, .jacob, .rizky, .kimberly, .nathan, .anna{
        width:350px;
     }
     .msg{
        width:280px;
     }
     .chessImg{
        margin-left:10px;
     }
     .number{
        margin-left:10px;
        margin-right: 10px;
     }
     .container1{
        justify-content: start;
        margin-top: 20px;
     }
     .readBtn{
        position: absolute;
        right:8%;
     }
    .dot1{
        position: absolute;
        top:13.4%;
        left:57%;
    }
    .dot3{
        position: absolute;
        top:34.5%;
        left:28%;
    }
   
}